* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

.header {
    height: 100px;
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .company {
    font-size: 24px;
    color: #fbf2c0;
    margin-left: 10px;
}

.header .logo {
    width: 48px;
}

.coffee-grid {
    width: 1080px;
    display: grid;
    grid-template: 
    'items name'
    'items payment';
    margin: 50px auto 200px;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

.order-items {
    grid-area: items;
}

.order-name {
    grid-area: name;
}

.order-payment {
    grid-area: payment;
}

.order-items, .order-name, .order-payment {
    background-color: #eee1d5;
    border-radius: 5px;
    color: #ac8a6b;
}