* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
}

.header {
    height: 100px;
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .company {
    font-size: 24px;
    color: #fbf2c0;
    margin-left: 10px;
}

.header .logo {
    width: 48px;
}

.coffee-grid {
    width: 1080px;
    display: grid;
    grid-template-areas: 
    'items name'
    'items payment';
    margin: 50px auto 200px;
    grid-row-gap: 20px;
    grid-column-gap: 40px;
}

.order-items {
    grid-area: items;
}

.order-name {
    grid-area: name;
}

.order-payment {
    grid-area: payment;
}

.order-items, .order-name, .order-payment {
    background-color: #eee1d5;
    border-radius: 5px;
    color: #ac8a6b;
}

.small-heading {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0 0 25px;
}

.items-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr;
    grid-template-areas:
    'quantity item . . price'
    '. addons . . .';
    margin: 25px 25px 25px 20px;
    border-bottom: 1px solid #e6ccb3;
    padding-bottom: 15px;
}

.items-grid:last-child {
    border: none;
}

.quantity {
    grid-area: quantity;
    font-size: 14px;
}

.item {
    grid-area: item;
    color: #43281c;
    font-weight: 600;
}

.price {
    grid-area: price;
    font-weight: 600;
    color: #43281c;
}

.addons {
    grid-area: addons;
    list-style: none;
    font-size: 14px;
}